os: linux
language: java
services:
  - docker
cashe: bundler
dist: focal
install: skip

jobs:
  include:
    - stage: "Tests" # naming the Tests stage
      name: "Unit Tests" # names the first Tests stage job
      script: ./unit-tests
    - script: ./integration-tests
      name: "Integration Tests" # names the second Tests stage job
    - stage: deploy
      name: "Deploy to GCP"
      script: ./deploy

after_success:
  - echo done
  - echo $TRAVIS_TEST_RESULT
after_failure:
  - echo failed
  - echo $TRAVIS_TEST_RESULT
